body {
    background-color: #97c9b9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.rectangle1 {
    position: relative;
    width: 500px;
    height: 350px;
    background-color: white;
    border-radius: 10px;
    margin: 180px auto 0;
}

a {
    color: #0d8c62;
}

input {
    width: 434px;
    height: 30px;
    border-radius: 6px;
    border: 2px solid #0d8c62;
}

.button1 {
    margin-top: 20px;
    width: 150px;
    height: 30px;
    background-color: #0d8c62;
    border-radius: 25px;
    color: white;
    font-size: 15px;
    border: 2px solid #0d8c62;
    cursor: pointer;
}

.button1:hover{
    background-color: #12c086;
    /* border: 2px solid #12c086; */
  }

.button1:focus-visible{
    outline: none;
  }