.main {
    margin: 0px 55px;
  }
  
  .profile_container {
    padding: 0px 10px 0px 0px;
  }
  
  .profile {
    border-radius: 5px;
    box-shadow: 1px 2px 10px 3px #0d8c62;
    height: 455px;
    padding: 80px 15px 0px;
    background-color: white;
  }
  
  .profile h3 {
    margin: 12px 0px 0px 0px;
    text-align: center;
    letter-spacing: -1px;
    font-weight: 650;
  }
  
  .main_name {
    margin: -20px 0px 0px 0px;
    text-align: center;
  }
  
  .info {
    margin: 20px 0px 0px 0px;
    padding: 6px 5px 6px;
    border-radius: 8px;
    border: 2px solid #0d8c62;
  }
  
  .info h6 {
    margin: 0px 0px 8px 0px;
  }
  
  .btns {
    text-align: center;
    margin: 30px 0px;
  }
  
  .btn1 {
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    background-color: #0d8c62;
    width: 100%;
    padding: 3px 0px;
    border: 2px solid #0d8c62;
  }

  .btn1:hover{
    background-color: #12c086;
    /* border: 2px solid #12c086; */
  }

  .btn1:focus-visible{
    outline: none;
  }
  
  .btn2 {
    margin: 8px 0px 0px;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    background-color: #0d8c62;
    width: 100%;
    padding: 3px 0px;
    border: 2px solid #0d8c62;
  }

  .btn2:hover{
    background-color: #12c086;
    /* border: 2px solid #12c086; */
  }

  .btn2:focus-visible{
    outline: none;
  }
  
  .sections_container {
    padding: 0px 0px 0px 25px;
  }
  
  .nav{
    border-bottom: 2px solid #0d8c62;
    justify-content: center;
  }

  .add{
    border-radius: 5px;
    background-color: #0d8c62;
    border: 2px solid #0d8c62;
    color: white;
    font-size: 25px;
    margin: 10px;
    float: right;
    display: flex;
  }

  .add:hover{
    background-color: #12c086;
    /* border: 2px solid #12c086; */
  }

  .add:focus-visible{
    outline: none;
  }

  .content {
    position: relative;
    background-color: #ffffff;
  }

  .in_content {
    border-radius: 5px;
    font-size: 5px;
  }
  
  .title {
    height: 6vw;
    resize: none;
    border: none;
    font-weight: 600;
    font-size: 4em;
    background-color: #d7e7ec;
  }

  .save {
    color: white;
    border-radius: 5px;
    background-color: #0d8c62;
    border: 2px solid #0d8c62;
    font-size: 25px;
    float: right;
  }

  .save:hover{
    background-color: #12c086;
    /* border: 2px solid #12c086; */
  }

  .save:focus-visible{
    outline: none;
  }

  .list-group{
    overflow-y: scroll;
    border: 2px solid #0d8c62;
    border-radius: 2px;
    margin-top: 63px;
    padding: 10px;
    height: 525px;
  }
  
  .list{
    background-color: white;
    border: 2px solid #0d8c62;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
  }

  .tick {
    background-color: white;
    /* background-color: #12c086; */
    border: 2px solid #0d8c62;
    border-radius: 5px;
    /* color: white; */
  }

  .tick:focus-visible{
    outline: none;
  }

  .edit{
    background-color: white;
    border: 2px solid #0d8c62;
    border-radius: 5px;
    color: #0d8c62;
    float: right;
    margin-left: 5px;
  }

  .edit:focus-visible{
    outline: none;
  }

  .edit:hover{
    border: 2px solid #12c086;
    color: #12c086;
  }

  .trash{
    background-color: white;
    border: 2px solid #0d8c62;
    border-radius: 5px;
    color: #0d8c62;
    float: right;
  }

  .trash:focus-visible{
    outline: none;
  }

  .trash:hover{
    border: 2px solid #12c086;
    color: #12c086;
  }